  <h1>All Your Appointments <%= @patient.name%>! </h1>

  <% @patient.appointments.each do |app| %>
  <h3> Appointment Date and Time: <%= link_to app.date_converter, appointment_path(app) %> </h3>
  </br>
    With:  <%= link_to app.doctor.name, doctor_path(app.doctor) %>
    </br>

  <% end %>
