<table>
  <tr>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Appointment</th>
  </tr>
 
   <tr>
        <td> <%= link_to @appointment.patient.name, @appointment.patient %> </td>
        <td> <%= link_to @appointment.doctor.name, @appointment.doctor %> </td>
        <td> <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M ") %> </td>
    </tr>
   

</table>